/* These have very specific selectors so we can modify the generated SVGs per page */

/** ****************************** */
/* NOTE! Specific to Setup-instructions (section 2) */
/** ****************************** */
h1#Setup-instructions ~ pre.mermaid svg {
  /* Make the image larger as generated view box can't be modified by CSS */
  transform: scale(1.25);
}
h1#Setup-instructions ~ pre.mermaid svg g.person-man rect, h1#Setup-instructions ~ pre.mermaid svg g.person-man path {
  /* Use dark green for constrast instead of mermaids colors */
  fill: #307473 !important;
}

/** ****************************** */
/* NOTE! Specific to Frontend-framework (section 3) */
/** ****************************** */
/* These are meant to affect section 3:
   - flowchart
   - sequenceDiagram
*/
/** ****************************** */

h1#Frontend-framework ~ pre.mermaid svg g rect.actor {
  fill: #ffd400 !important;
}

h1#Frontend-framework ~ pre.mermaid svg g line.actor-line {
  stroke: #307473 !important;
}

h1#Frontend-framework ~ pre.mermaid svg .node .label-container {
  fill: #ffd400 !important;
}

/** ****************************** */
/* NOTE! Specific to Configuration instructions (section 8) */
/** ****************************** */
h1#Configuration-instructions ~ pre.mermaid svg {
  /* Make the image larger as generated view box can't be modified by CSS */
  transform: scale(1.25);
}
h1#Configuration-instructions ~ pre.mermaid svg g.person-man rect, h1#Configuration-instructions ~ pre.mermaid svg g.person-man path {
  /* Use dark green for constrast instead of mermaids colors */
  fill: #307473 !important;
}
